image: thrillworks/node-build

cache:
  paths:
    - node_modules

stages:
  - build
  - deploy

pages:
  stage: deploy
  environment: 
    name: development
    url: https://safehousetech.gitlab.io/
  script:
    - npm install
    - npm run build
    - rm -rf public
    - mv build public
  artifacts:
    paths:
      - public 
  only:
    - develop